* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(../img/Hasentree-Living-Roon.jpg) no-repeat;
    background-size: cover;
    min-height: 100vh;
}

h2 {
    text-align: center;
    color: white;
}

.subtitulo-cadastro {
    color: black;
}

.login {
    font-family: Arial;
    width: 450px;
    margin: auto;
    /* border-radius: 20px; */
    text-align: float;
    padding: 3% 0px;
    /* background-color: rgba(255, 255, 255, 0.31); */
    background-color: rgba(6, 5, 5, 0.33);
    -moz-box-shadow: 10px 3px 66px -19px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 3px 66px -19px rgba(0, 0, 0, 0.75);
    position: relative;
    margin-top: 145px;
    line-height: 60px;
}

.label-float {
    position: relative;
    padding-top: 13px;
    margin-left: 57px;
}

.label-float input {
    border: 0;
    border-bottom: 2px solid lightgrey;
    outline: none;
    min-width: 180px;
    font-size: 16px;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -webkit-appearance: none;
    border-radius: 0;
}

.label-float input,
label:focus {
    border-bottom: 2px solid #7ed957;
}

.input-nome {
    border-radius: 25px;
}

.label-float input:focus+label,
.label-float input:not(:placeholder-shown)+label {
    font-size: 13px;
    margin-top: -18px;
    color: #7ed957;
}

.label-float label {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
}

label {
    color: white;
    margin: 14px 16px;
}

input[type="submit"] {
    border-radius: 25px;
    border: none;
    color: white;
    text-transform: uppercase;
}

input[type="submit"]:active {
    border: none;
}

input[type="submit"]:hover {
    color: #fff;
    background-color: #7ed957;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    cursor: pointer;
}

.recuperar-submit {
    width: 84%;
    text-align: center;
    margin-left: 35px;
}

.recuperar-senha {
    margin: 14px 16px;
    width: 84%;
    margin-left: 50%;
    text-decoration: none;
    color: white;
}

.log-in {
    width: 84%;
}

input {
    background-color: rgba(87, 102, 103, 0.59);
    width: 55%;
    height: 44px;
    padding: 12px 15px;
}

.input-login-cadastro[type="text"] {
    border-radius: 25px;
    border: none;
    width: 84%;
    color: white;
}

.body-cadastro {
    background-image: none;
    display: inline-block;
    width: 100%;
    background-color: #17cc1921;
    font-family: Helvetica;
    line-height: 45px;
}

.container {
    width: 50%;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    margin: auto;
    margin-top: 12px;
    background-color: white;
}

.album-anunciar {
    display: grid;
    text-align-last: center;
}

.imagen-album {
    width: 300px;
}

.imagen-destaque-cadastro {
    width: 460px;
    text-align-last: center;
}

.imagen-destaque-cad {
    text-align-last: center;
}

.input-foto {
    text-align-last: center;
}

label {
    float: left;
}

.input-cadastro {
    background-color: white;
    border: 1px solid #979797;
}

.input-cadastro-bloq {
    background-color: #f7f7f7;
    border-color: #e7e7e7;
    color: #979797;
    cursor: not-allowed;
}

.local-imovel {
    grid-row: 1;
    grid-column: 1/4;
    padding: 16px 12px;
    -webkit-appearance: none;
}

.input-local-imovel {
    margin: 12px 107px;
}

.cidade-uf {
    display: flex;
}

.input-cidade {
    width: 241px;
}

.input-uf {
    margin: 0 13px;
}

.tam-bairro-endereco {
    width: 83%;
}

.num-complemento {
    display: flex;
}

.tamanho-input-cadastro {
    width: 100%;
}

.input-descricao {
    width: 441px;
}

.input-numero {
    float: left;
}

.input-complemento {
    float: right;
}

.complemento {
    margin: 0 6px;
}

.botao-cadastro {
    background-color: green;
    border: 1px solid #008295;
    color: #fff;
    width: 100%;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    border-radius: 4px;
    height: 48px;
    padding: 12px 24px;
    margin-top: 12px;
    margin-bottom: 30px;
}

.botao-cadastro:hover {
    background-color: #32CD32;
}

.titulo {
    text-align-last: center;
}

.body-anuncio {
    background-image: none;
    font-family: Helvetica;
}

.imagens-da-casa {
    object-fit: cover;
    display: flex;
}

.imagens-anuncio {
    cursor: pointer;
    margin: 4px 2px;
}

.seta {
    position: absolute;
    margin: 165px 23px;
    font-size: 35px;
    cursor: pointer;
}

.seta:hover {
    color: #90EE90;

}

.seta-direita {
    margin-left: 97%;
}

.dados-imovel {
    margin: 13px 303px;
    line-height: 40px;
}

.preco-aluguel {
    font-size: 50px;
}

.detalhes-icones {
    font-size: 45px;
}

.detalhes-icones-direito {
    margin-left: 100px;
}

.detalhes-anuncio {
    display: flex;
    margin-top: 51px;
}

.numero-icone {
    font-size: 19px;
}

.descricao-anuncio {
    margin-top: 81px;
}

@media screen and (min-width: 768px) {
    .carousel__image {
        height: 360px;
        max-width: 500px;
    }