* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(../img/Hasentree-Living-Roon.jpg) no-repeat;
    background-size: cover;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

nav-index {
    height: 90px;
    width: auto;
}

.body-pag {
    background-image: none;
}

.logo-principal {
    max-width: 201.47px;
    max-height: 80px;
}

.container-pag-principal {
    max-width: auto;
    margin-top: -39px;
    height: auto;
}

.layer1-pag {
    height: 500px;
    background-image: url('../img/Background1.jpg');
    background-size: 100%;
    margin: auto;
    max-width: 1920px;
}

.fundo-pag {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 40%;
    position: relative;
}

.t1 {
    font-size: 70px;
    max-width: 450px;
    max-height: 450px;
    position: absolute;
    color: #FFF;
    margin: -400px 0 0 170px;
    text-align: center;
}

.menu {
    margin: 50px 40px 50px 60px;
}

.menu a {
    color: #7ED957;
    margin-right: 20px;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}

.menu a:hover {
    color: #228B22;
}

.entrar,
.cadastrar {
    font-size: 22px;
    text-decoration: none;
    font-weight: bold;
}

.entrar {
    color: #FFF;
    padding: 6px 30px;
    background-color: #FF9404;
    border-radius: 5px;
    margin: 40px 30px 50px 0;
}

.cadastrar {
    color: #7ED957;
    border: 2px solid #7ED957;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 40px 0 50px 0;
}

.entrar:hover {
    background-color: #EE7600;
}

.cadastrar:hover {
    background-color: #7ED957;
    color: #FFF;
}

.itens-nav {
    max-width: 1920px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.t2 {
    text-align: center;
    font-size: 36px;
    color: #7ED957;
    text-shadow: 1px 1px #CCC;
}

hr {
    width: 1000px;
    margin: auto;
}

.layer2 {
    line-height: 83px;
}

.layer3-pag {
    height: 200px;
    background-color: #7ED957;
    margin: 30px auto 30px auto;
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

#rodape {
    margin-top: -72;

}

footer {
    height: 300px;
    background-color: #7ED957;
}

.titulo-contato {
    font-size: 30px;
    text-align: center;
    color: #fff;
    margin-top: 0;
    padding: 30px;
}

.contatos img {
    max-width: 100px;
}

.contatos {
    display: flex;
    justify-content: center;
}

.contatos div {
    margin: 10px 30px 0px 30px;
}

select,
.input-listanuncios {
    font-size: 20px;
    height: 41px;
    color: #424242;
    padding: 6px 0px 6px 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 1px 1px #DDD;
    margin: 30px 50px 30px 50px;
}

select {
    height: 40px;
    cursor: pointer;
    padding: 6px 10px;
}

.info-pesquisa {
    display: flex;
    justify-content: center;
}

.layer5 {
    height: 728px;
    background-image: url('../img/key-2323278.jpg');
    background-size: 100%;
}

.buscar {
    text-decoration: none;
    color: #FFF;
    background-color: #FF9404;
    padding: 10px 20px;
    font-size: 28px;
    border-radius: 30px;
    font-weight: bold;
}

.buscar:hover {
    background-color: #EE7600;
}

.busca {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

input {
    width: 176px;
}

.t3,
.t5 {
    margin: 30px 50px 30px 50px;
    text-align: center;
}

.layer4 {
    color: #424242;
    height: 1200px;
}

.lanc,
.proc {
    display: flex;
    justify-content: center;
}

.imovel {
    width: 300px;
    height: 400px;
    background-color: #EEE;
    margin: 30px 50px 30px 50px;
    box-shadow: 0.1px 0.1px 1px #424242;
}

.foto-imovel1 {
    height: 50%;
    background-image: url('../img/architecture-1477041.jpg');
    background-size: 100%;
}

.nome-imovel,
.valor-imovel {
    font-weight: bold;
    color: #7ED957;
}

.rua-imovel,
.cidade-imovel {
    color: #424242;
}

.nome-imovel,
.valor-imovel,
.rua-imovel,
.cidade-imovel {
    margin-left: 20px;
}

.valor-imovel {
    color: #FF9404;
    font-size: 30px;
    text-decoration: none;
}

.valor-imovel:hover {
    color: #EE7600;
}

.foto-imovel2 {
    height: 50%;
    background-image: url('../img/architecture-1836070_1920.jpg');
    background-size: 100%;
}

.foto-imovel3 {
    height: 50%;
    background-image: url('../img/country-house-540796_1920.jpg');
    background-size: 100%;
}

.cadastrar2 {
    text-decoration: none;
    color: #FFF;
    background-color: #FF9404;
    padding: 10px 60px;
    font-size: 60px;
    border-radius: 30px;
    font-weight: bold;
    float: right;
    margin: 100px;
}

.cadastrar2:hover {
    background-color: #EE7600;
}

.t4 {
    font-size: 60px;
}

.titulo4 {
    width: 310px;
    margin: 50px 0 0 150px;
    float: left;
    color: #FFF;
}

span {
    color: #7ED957;
}

.corpo-pag {
    overflow: hidden;
}

h2 {
    text-align: center;
    color: white;
}

.subtitulo-cadastro {
    color: black;
}

.login {
    font-family: Arial;
    width: 450px;
    margin: auto;
    /* border-radius: 20px; */
    text-align: float;
    padding: 3% 0px;
    /* background-color: rgba(255, 255, 255, 0.31); */
    background-color: rgba(6, 5, 5, 0.33);
    -moz-box-shadow: 10px 3px 66px -19px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 3px 66px -19px rgba(0, 0, 0, 0.75);
    position: relative;
    margin-top: 145px;
    line-height: 60px;
    overflow: hidden;
}

.label-float {
    position: relative;
    padding-top: 13px;
    margin-left: 57px;
}

.label-float input {
    border: 0;
    border-bottom: 2px solid lightgrey;
    outline: none;
    min-width: 180px;
    font-size: 16px;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -webkit-appearance: none;
    border-radius: 0;
}

.label-float input,
label:focus {
    border-bottom: 2px solid #7ed957;
}

.input-nome {
    border-radius: 25px;
}

.label-float input:focus+label,
.label-float input:not(:placeholder-shown)+label {
    font-size: 13px;
    margin-top: -18px;
    color: #7ed957;
}

.label-float label {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
}

label {
    color: white;
    margin: 14px 16px;
}

input[type="submit"] {
    border-radius: 25px;
    border: none;
    color: white;
    text-transform: uppercase;
}

input[type="submit"]:active {
    border: none;
}

input[type="submit"]:hover {
    color: #fff;
    background-color: #7ed957;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    cursor: pointer;
}

.recuperar-submit {
    width: 84%;
    text-align: center;
    margin-left: 35px;
}

.recuperar-senha {
    margin: 14px 16px;
    width: 84%;
    margin-left: 50%;
    text-decoration: none;
    color: white;
}

.log-in {
    width: 84%;
}

input {
    background-color: rgba(87, 102, 103, 0.59);
    width: 55%;
    height: 44px;
    padding: 12px 15px;
}

.input-login-cadastro[type="text"] {
    border-radius: 25px;
    border: none;
    width: 84%;
    color: white;
}

.body-cadastro {
    background-image: none;
    display: inline-block;
    width: 100%;
    background-color: #17cc1921;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 45px;
}

.container {
    width: 50%;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    margin: auto;
    margin-top: 12px;
    background-color: white;
}

.container-cadastro {
    width: 74%;
}

.album-anunciar {
    display: grid;
    text-align-last: center;
}

.imagen-album {
    width: 43%;
}

.imagen-destaque-cadastro {
    width: 90%;
    text-align-last: center;
}

.imagen-destaque-cad {
    text-align-last: center;
}

.input-foto {
    text-align-last: center;
}

.input-des-alb {
    text-align-last: auto;
    background-color: #0cad0e21;
}

label {
    float: left;
}

.input-cadastro {
    background-color: white;
    border: 1px solid #979797;
}

.input-cadastro-bloq {
    background-color: #f7f7f7;
    border-color: #e7e7e7;
    color: #979797;
    cursor: not-allowed;
}

.local-imovel {
    grid-row: 1;
    grid-column: 1/4;
    padding: 16px 12px;
    -webkit-appearance: none;
}

.input-local-imovel {
    margin: 12px 107px;
}

.cidade-uf {
    display: flex;
}

.input-cidade {
    width: 241px;
}

.input-uf {
    margin: 0 13px;
}

.tam-bairro-endereco {
    width: 83%;
}

.num-complemento {
    display: flex;
}

.tamanho-input-cadastro {
    width: 100%;
}

.input-descricao {
    width: 441px;
}

.input-numero {
    float: left;
}

.input-complemento {
    float: right;
}

.complemento {
    margin: 0 6px;
}

.botao-cadastro {
    background-color: green;
    border: 1px solid #008295;
    color: #fff;
    width: 100%;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    border-radius: 4px;
    height: 48px;
    padding: 12px 24px;
    margin-top: 12px;
    margin-bottom: 30px;
}

.botao-cadastro:hover {
    background-color: #32CD32;
}

.titulo {
    text-align: -webkit-center;
}

.body-anuncio {
    background-image: none;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    width: 100%;
}

.imagens-da-casa {
    object-fit: cover;
    display: flex;
}

.imagens-anuncio {
    cursor: pointer;
    margin: 4px 2px;
}

.seta {
    position: absolute;
    margin: 165px 23px;
    font-size: 35px;
    cursor: pointer;
}

.seta:hover {
    color: #90EE90;

}

.seta-direita {
    margin-left: 97%;
}

.dados-imovel {
    margin: 13px 303px;
    line-height: 40px;
}

.preco-aluguel {
    font-size: 50px;
}

.detalhes-icones {
    font-size: 45px;
}

.detalhes-icones-direito {
    margin-left: 100px;
}

.detalhes-anuncio {
    display: flex;
    margin-top: 51px;
}

.numero-icone {
    font-size: 19px;
}

.descricao-anuncio {
    margin-top: 81px;
}

.imagens-anunciar {
    text-align: -webkit-center;

}

.body-listanuncios {
    background-image: none;
}

.titulo-listanuncios {
    color: #7ED957;
}

@media screen and (max-width: 728px) {
    .body-cadastro {
        flex-direction: column;

    }

    .imagens-da-casa {
        overflow-y: hidden;
        width: 100%;
    }

    .imagens-anunciar {
        display: grid;
    }

    .input-local-imovel {
        flex-wrap: wrap-reverse;
        margin-left: 58px;
    }

    .botao-cadastro {
        width: 131px;
    }

    .cidade-uf {
        flex-wrap: wrap;
    }

    .input-uf {
        margin-top: 12px;
        margin-left: 0px;
    }

    .input-cadastro {
        width: 100px;
        text-align: -webkit-center;
    }

    .imagen-album {
        width: 100%;
    }

    .imagen-album-esquerda {
        width: 41%;
        margin: 15px 28px;
        float: left;
    }

    .imagen-album-direita {
        width: 41%;
        margin: 15px 28px;
        float: right;
    }

    .imagen-destaque-cadastro {
        width: 90%;
    }

    .imagen-destaque-cad {
        margin: auto;
        width: 100%;
        flex-direction: column;
        text-align: center;
    }

    .imagens-anunciar {
        text-align: -webkit-center;
    }
}